.wr__container {
    --black: #1B1D1F;
    --dark-grey: #282B30;
    --blue: #4E80EE;
    --grey: #6C727F;
    --light-grey: #D2D5DA;
    font-family: "Be Vietnam Pro", sans-serif;
}

.wr__hero-container {
    position: relative;
    height: 200px;
    z-index: 10;
}

.wr__hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wr__header-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
}

.wr__header-logo-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wr__main-container {
    display: flex;
    justify-content: center;
    padding: 30px;
    z-index: 20;
    background-color: var(--black);
}

@media only screen and (max-width:640px) {
    .wr__main-container {
        padding: 10px;
    }
}