.wr__container {
    --black: #1B1D1F;
    --dark-grey: #282B30;
    --blue: #4E80EE;
    --grey: #6C727F;
    --light-grey: #D2D5DA;
    font-family: "Be Vietnam Pro", sans-serif;

}

.wr__hero-container {
    position: relative;
    height: 200px;
    z-index: 10;
}

.wr__hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wr__header-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
}

.wr__header-logo-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.wr__main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
}

.wr__main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 1200px;
    padding: 40px;
    background-color: var(--black);
    border: 1px solid var(--grey);
    border-radius: 16px;
    translate: 0px -75px;
    z-index: 10;
}

@media only screen and (max-width:1200px) {
    .wr__main-container {
        width: 100%;
        padding: 20px;
    }

    .wr__main-wrapper {
        padding: 20px;
    }
}

@media only screen and (max-width:640px) {
    .wr__main-wrapper {
        padding: 10px;
    }
}