.gh__profile-top-row {
    display: flex;
    align-items: end;
    gap: 40px;
}

.gh__profile-picture {
    height: 130px;
    width: 130px;
    border: 10px solid var(--dark-grey);
    border-radius: 16px;
}

.gh__meta-info-container {
    display: flex;
    gap: 20px;
}

.gh__meta-info {
    display: flex;
    height: min-content;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--black);
    border-radius: 10px;
    padding: 16px;
}

.gh__pipe {
    content: "";
    height: 25px;
    border-right: 1px solid var(--grey);
}


.gh__profile-title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--light-grey);
    padding-top: 30px;
}


@media only screen and (max-width:864px) {
    .gh__profile-top-row {
        justify-content: space-between;
        align-items: start;
    }


    .gh__meta-info-container {
        flex-direction: column;

    }
}

@media only screen and (max-width:640px) {
    .gh__meta-info-container {
        gap: 10px;
    }

    .gh__meta-info {
        font-size: 0.825rem;
        max-width: 200px;
        justify-content: start;
        gap: 10px;
    }
}